body{
    background: rgb(0,127,191);
    background: radial-gradient(circle, rgba(0,127,191,1) 0%, rgba(15,67,127,1) 100%);
    margin: 0;
    padding: 0;
}

.anthree-container{
    padding: 0;
}

.anthree-header{
    margin-top: 20px;
    height: 140px;
}

.anthree-logo{
    width: 80%;
    float: left;
    height: 120px;
    padding: 20px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
    color: white;
}

.anthree-logo img{
    /* display: inline-block; */
    float: left;
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.anthree-title{ 
    /* display: inline-block; */
    margin-left: 10px;
    float: left;
    width: 500px;
}

.anthree-clock{
    width: 20%;
    height: 120px;
    float: left;
    padding: 20px;
    background-color:#0000007a;
    text-align: center;
    color: white;
}

.anthree-clock h2{
    color: yellow;
}



.anthree-body{
    display: block;
    overflow: auto;
    width: 100%;
    height: auto;
    background-color: #0000007a;
}

.anthree-antrian{
    width: 40%;
    float: left;
    padding: 10px;
}

.anthree-antrian-content{
    background-color:#00000038;
    width: 100%;
    height: 60vh;
}

.anthree-antrian-content .title{
    text-align: center;
    background-color: #00000030;
    padding: 10px;
}

.anthree-antrian-content .title h2{
    color: white;
}

.anthree-video{
    padding: 10px 10px 10px 0px;
    width: 60%;
    float: left;
}

.anthree-video-content{    
    width: 100%;
    height: 60vh;
    background-color: black;
}

.anthree-video-content iframe{    
    width: 100%;
    height: 60vh;
    background-color: black;
}

.antrian-list{
    width: 100%;
    padding: 10px;
}

.antrian-item {
    padding: 5px;
    margin-bottom: 20px;
}

.antrian-item table, th, td{
    color: white;
    border-collapse: collapse;
}

.antrian-item th, td{
    padding: 4px 8px 4px 8px;
}

.antrian-item .item-td{
    color: yellow;
}